{% extends "base_intern.html" %}

{% block title %}Mitgliederübersicht - JDAV Hildesheim{% endblock %}

{% block content %}
<section class="page-section">
    <h1>Mitgliedermanagement</h1>

    <div class="table-container mitglieder-container">
        <h3>Mitglieder Genehmigen</h3>

        {% if mitglieder_unapproved_daten %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Geburtsdatum</th>
                    <th>Geschlecht</th>
                    <th>Adresse</th>
                    <th>Erziehungsberechtigte</th>
                    <th>Unterschrift</th>
                    <th>Mitgliedschaft</th>
                    <th>Beiträge</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                {% for mitglied in mitglieder_unapproved_daten %}
                <tr>
                    <td>{{ mitglied.id }}</td>
                    <td>{{ mitglied.vorname }} {{ mitglied.nachname }}</td>
                    <td>{{ mitglied.geburtsdatum }}</td>
                    <td>
                        {% if mitglied.geschlecht == "m" %}M
                        {% elif mitglied.geschlecht == "w" %}W
                        {% elif mitglied.geschlecht == "d" %}D
                        {% else %}-{% endif %}
                    </td>
                    <td>
                        {{ mitglied.strasse }} {{ mitglied.hausnummer }}<br>
                        {{ mitglied.plz }} {{ mitglied.ort }}
                    </td>
                    <td>
                        {{mitglied.erziehungsberechtigte.vorname}} {{mitglied.erziehungsberechtigte.nachname}} {{mitglied.erziehungsberechtigte.email}} {{mitglied.erziehungsberechtigte.telefon}}
                    </td>
                    <td>
                        {% if mitglied.unterschrift %}
                            <img src="{{ mitglied.unterschrift }}" style="max-width:200px; border:1px solid #ccc;">
                        {% else %}
                            Keine
                        {% endif %}
                    </td>
                    <td>
                    {% if mitglied.mitgliedschaft %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                    </td>

                    <td>
                    {% if mitglied.beitraege %}
                        ✅
                    {% else %}
                        ❌
                    {% endif %}
                    </td>
                    <td>
                        <form action="{{ url_for('mitglieder.mitglieder') }}" method="POST" style="display:flex; flex-direction:column; gap:5px;">
                            <input type="hidden" name="mitglied_id" value="{{ mitglied.id }}">
                            <button type="submit" name="action" value="approve" class="btn btn-success">Genehmigen</button>
                            <button type="submit" name="action" value="reject" class="btn btn-remove">Ablehnen</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info">
            Keine Mitglieder zur Genehmigung gefunden.
        </div>
        {% endif %}
    </div>

    <div class="table-container">
        <h3>Alle Mitglieder</h3>

        {% if mitglieder_daten %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Geburtsdatum</th>
                    <th>Mitgliedsnummer</th>
                    <th>Geschlecht</th>
                    <th>Adresse</th>
                    <th>Erziehungsberechtigte</th>
                    <th>Gruppen</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                {% for mitglied in mitglieder_daten %}
                <tr>
                    <td>{{ mitglied.id }}</td>
                    <td>{{ mitglied.vorname }} {{ mitglied.nachname }}</td>
                    <td>{{ mitglied.geburtsdatum }}</td>
                    <td>{% if mitglied.mitgliedsnummer %}
                        {{mitglied.mitgliedsnummer}}
                        {% else %}
                        Mitgliedsnummer fehlt
                        {% endif %}
                    </td>
                    <td>
                        {% if mitglied.geschlecht == "m" %}M
                        {% elif mitglied.geschlecht == "w" %}W
                        {% elif mitglied.geschlecht == "d" %}D
                        {% else %}-{% endif %}
                    </td>
                    <td>{{mitglied.strasse}} {{mitglied.hausnummer}} {{mitglied.plz}} {{mitglied.ort}}</td>
                    <td>
                        {{mitglied.erziehungsberechtigte.vorname}} {{mitglied.erziehungsberechtigte.nachname}} {{mitglied.erziehungsberechtigte.email}} {{mitglied.erziehungsberechtigte.telefon}}
                    </td>

                    <td>
                        {% for gruppe in mitglied.gruppen %}
                            {{ gruppe.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('mitglieder.mitglied_bearbeiten', id=mitglied.id) }}" class="btn btn-primary">
                            Bearbeiten
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info">
            Keine Mitglieder vorhanden.
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}